<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>

    <link rel="stylesheet" href="stylesheets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/admin.css">
</head>
<body background="/images/newyork.jpg">

    <div class="container admincontainer">
        <form><br>
            <div class="form-group">
                <input type="text" class="form-control" id="AdminVorname" placeholder="Vorname">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="AdminNachname" placeholder="Nachname">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="AdminGeburtsdatum" placeholder="Geburtsdatum" >
            </div>
            <button type="submit" class="btn btn-default">Submit</button><br> <br>
        </form>
    </div>

    <script src="javascripts/jquery/dist/jquery.min.js"></script>
    <script src="javascripts/admin.js"></script>
</body>
</html>