<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fullcalendar/dist/fullcalendar.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Vacationer</title>
</head>
<body background="images/newyork.jpg">
  <!-- Navbar -->
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Vacationer</a>
    <a class="navbar-brand" href="/login">Login</a>
  </nav> <br>
  <!-- Calendar -->
  <div id="calendar"></div>

  <script src="/javascripts/jquery/dist/jquery.min.js"></script>
  <script src="/javascripts/jquery-ui/jquery-ui.min.js"></script>
  <script src="/javascripts/moment/min/moment.min.js"></script>
  <script src="/fullcalendar/dist/fullcalendar.js"></script>
  <script src="/javascripts/my.js"></script>
</body>
</html>