body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.fc-day {
  background-color: rgba(255, 255, 255, 0.9);
}

.fc-day-header {
  background-color: #343a40;
  color: white;
}