body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table{
  color: black;
  background-color: rgba(255, 255, 255, 0.9);  

}

i:hover{
  cursor: pointer;
}

#msgbox{
height: 100px;
width: 460px;

}